{% extends 'base.html.twig' %}

{% block title %}Liste des CloudBoxes{% endblock %}

{% block body %}
<h1>Liste des CloudBoxes</h1>

<ul>
  {% for box in boxes %}
    <li>
      <a href="{{ path('cloudbox_show', {'id': box.id}) }}">
        CloudBox {{ box.id }} - {{ box.description }}
      </a>
    </li>
  {% else %}
    <li>(aucune CloudBox)</li>
  {% endfor %}
</ul>
{% endblock %}
